# Ignore core WordPress directories
wp-admin/
wp-includes/

# Ignore WordPress configuration file
wp-config.php

# Ignore the uploads directory
wp-content/uploads/

# Ignore themes and plugins you don't want to track
wp-content/themes/*
wp-content/plugins/*

# Ignore specific files
wp-content/cache/
wp-content/upgrade/
wp-content/backup-*/

# Ignore other common files and directories
node_modules/
vendor/
*.log
*.bak
*.sql